<a
  [routerLink]="['/projects', project().id, 'tasks']"
  class="flex justify-between p-2 rounded-md hover:bg-fun-blue-200 cursor-pointer transition-colors"
  [ngClass]="{ 'bg-fun-blue-200': isSelected() }"
  (click)="setProject()"
>
  <div class="flex gap-2 items-center">
    <div
      class="rounded-full w-2 h-2"
      [style]="{ 'background-color': project().color }"
    ></div>
    <p class="line-clamp-1 text-gray-800">{{ project().name }}</p>
  </div>
  <button
    class="font-semibold flex items-center justify-center z-50 rounded-md p-1 hover:bg-fun-blue-300 hover:cursor-pointer transition-colors"
    [matMenuTriggerFor]="menu"
  >
    <app-more-icon />
  </button>

  <mat-menu #menu="matMenu" class="bg-white shadow-md rounded-md">
    <button
      mat-menu-item
      (click)="updateProject()"
      class="flex justify-center items-center gap-2 px-3 py-1 text-red-600 hover:bg-red-100"
    >
      <app-update-icon />
      <span>Update</span>
    </button>
    <button
      mat-menu-item
      (click)="deleteProject()"
      class="flex justify-center items-center gap-2 px-3 py-1 text-red-600 hover:bg-red-100"
    >
      <app-delete-icon />
      <span>Delete</span>
    </button>
  </mat-menu>
</a>
