<section class="px-12 py-8 w-full">
  <h2 class="text-3xl font-medium">Dashboard</h2>
  <div class="grid grid-cols-3 gap-6 pt-10 pb-6">
    <app-summary-card
      title="Created Tasks"
      [summary]="summary().created"
      [loading]="loading()"
    />

    <app-summary-card
      title="In Process Tasks"
      [summary]="summary().inProcess"
      [loading]="loading()"
    />

    <app-summary-card
      title="Completed Tasks"
      [summary]="summary().completed"
      [loading]="loading()"
    />
  </div>

  <div class="grid grid-cols-1 gap-6">
    <div>
      @if (loading()) {
        <div class="flex justify-center items-center h-full">
          <app-spinner />
        </div>
      } @else {
        <div class="bg-gray-100 p-4 rounded-md shadow">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [fill]="chartOptions.fill"
            [colors]="chartOptions.colors"
            [legend]="chartOptions.legend"
            [title]="chartOptions.title"
          ></apx-chart>
        </div>
      }
    </div>
  </div>
</section>
